<div class="ui borderless blue inverted menu">
    <div class="ui container">
        <a class="header active item" href="#root">Home</a>
        
        <% categories.forEach(category => { %>
            <a class="item" href="#<%= category.toLowerCase() %>"><%= category %></a>
        <% }); %>
        
        <a class="item" href="#root">About</a>
    </div>
</div>
