<div class="ui borderless blue inverted menu">
    <div class="ui container">
        <a class="header active item" href="#root">Home</a>
        <a class="item" href="#root">New feature</a>
        <a class="item" href="#root">Press</a>
        <a class="item" href="#root">New hires</a>
        <a class="item" href="#root">About</a>
    </div>
</div>