<%- include('partials/header') %>

  <div class="ui tablet computer only grid">
    <div class="ui top fixed borderless huge inverted menu">
      <div class="ui container">
        <a class="header item">Project Name</a>
        <a class="active item">Home</a> <a class="item">About</a>
        <a class="item">Contact</a>
      </div>
    </div>
    <div class="ui container">
      <div class="ui padded grid">
        <div class="thirteen wide column">
          <div class="ui message">
            <h1 class="ui huge header">Hello, world!</h1>
            <p class="lead">
              This is a simple example to show the off-canvas layout pattern
              in Semantic-UI, click the green button to see off-canvas left
              sidebar coming in and out of the page, and try to change the
              viewport size to see right sidebar toggle button. You could
              check out more wonderful effects here:
              <a target="_blank" href="http://semantic-ui.com/modules/sidebar.html#/examples">Semantic-UI/sidebar
                examples</a>.
            </p>
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui grid">
            <% posts.forEach(post=> { %>
      
              <div class="three column row">
                <div class="column">
                  <h1 class="ui header">
                    <%= post.metadata.title %>
                  </h1>
                  <button class="ui small basic button">View details &raquo;</button>
                </div>
              </div>
              <% }) %>
          </div>

          <div class="ui hidden divider"></div>
          <div class="ui divider"></div>
          <footer>&copy; 2017 Company, Inc.</footer>
        </div>
        <div class="three wide column">
          <div class="ui vertical menu">
            <a class="active item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('partials/footer') %>