<%- include('partials/header') %>

  <div class="ui tablet computer only grid">
    <div class="ui top fixed borderless huge inverted menu">
      <div class="ui container">
        <a class="header item">Project Name</a>
        <a class="active item">Home</a> <a class="item">About</a>
        <a class="item">Contact</a>
      </div>
    </div>
    <div class="ui container">
      <div class="ui padded grid">
        <div class="thirteen wide column">
          <div class="ui message">
            <h1 class="ui huge header">Hello, world!</h1>
            <p class="lead">
              This is a simple example to show the off-canvas layout pattern
              in Semantic-UI, click the green button to see off-canvas left
              sidebar coming in and out of the page, and try to change the
              viewport size to see right sidebar toggle button. You could
              check out more wonderful effects here:
              <a target="_blank" href="http://semantic-ui.com/modules/sidebar.html#/examples">Semantic-UI/sidebar
                examples</a>.
            </p>
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui grid">
            <div class="three column row">
              <div class="column">
                <h1 class="ui header">Heading</h1>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, tellus ac cursus commodo, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Etiam porta
                  sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <button class="ui small basic button">
                  View detailes &raquo;
                </button>
              </div>
              <div class="column">
                <h1 class="ui header">Heading</h1>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, tellus ac cursus commodo, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Etiam porta
                  sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <button class="ui small basic button">
                  View detailes &raquo;
                </button>
              </div>
              <div class="column">
                <h1 class="ui header">Heading</h1>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, tellus ac cursus commodo, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Etiam porta
                  sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <button class="ui small basic button">
                  View detailes &raquo;
                </button>
              </div>
            </div>
            <div class="three column row">
              <div class="column">
                <h1 class="ui header">Heading</h1>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, tellus ac cursus commodo, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Etiam porta
                  sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <button class="ui small basic button">
                  View detailes &raquo;
                </button>
              </div>
              <div class="column">
                <h1 class="ui header">Heading</h1>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, tellus ac cursus commodo, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Etiam porta
                  sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <button class="ui small basic button">
                  View detailes &raquo;
                </button>
              </div>
              <div class="column">
                <h1 class="ui header">Heading</h1>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce
                  dapibus, tellus ac cursus commodo, tortor mauris condimentum
                  nibh, ut fermentum massa justo sit amet risus. Etiam porta
                  sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <button class="ui small basic button">
                  View detailes &raquo;
                </button>
              </div>
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui divider"></div>
          <footer>&copy; 2017 Company, Inc.</footer>
        </div>
        <div class="three wide column">
          <div class="ui vertical menu">
            <a class="active item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a> <a class="item">Link</a>
            <a class="item">Link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui mobile only grid">
    <div class="ui top fixed borderless huge inverted menu">
      <a class="header item">Project Name</a>
      <div class="right menu">
        <div class="item">
          <button class="ui icon toggle basic inverted button">
            <i class="content icon"></i>
          </button>
        </div>
      </div>
      <div class="ui vertical borderless fluid inverted menu" style="display: none">
        <a class="active item">Home</a> <a class="item">About</a>
        <a class="item">Contact</a>
      </div>
    </div>
    <div class="ui container">
      <div class="ui padded one column grid pushable">
        <div class="ui right sidebar vertical menu">
          <a class="active item">Link</a> <a class="item">Link</a>
          <a class="item">Link</a> <a class="item">Link</a>
          <a class="item">Link</a> <a class="item">Link</a>
          <a class="item">Link</a> <a class="item">Link</a>
          <a class="item">Link</a> <a class="item">Link</a>
          <a class="item">Link</a> <a class="item">Link</a>
          <a class="item">Link</a>
        </div>
        <div class="column pusher">
          <div class="ui message">
            <button class="ui top right attached tiny blue button">
              Toggle nav
            </button>
            <h1 class="ui huge header">Hello, world!</h1>
            <p class="lead">
              This is a simple example to show the off-canvas layout pattern
              in Semantic-UI, click the green button to see off-canvas left
              sidebar coming in and out of the page, and try to change the
              viewport size to see right sidebar toggle button. You could
              check out more wonderful effects here:
              <a target="_blank" href="http://semantic-ui.com/modules/sidebar.html#/examples">Semantic-UI/sidebar
                examples</a>.
            </p>
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui two column grid">
            <div class="column">
              <h1 class="ui header">Heading</h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <button class="ui small basic button">
                View detailes &raquo;
              </button>
            </div>
            <div class="column">
              <h1 class="ui header">Heading</h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <button class="ui small basic button">
                View detailes &raquo;
              </button>
            </div>
            <div class="column">
              <h1 class="ui header">Heading</h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <button class="ui small basic button">
                View detailes &raquo;
              </button>
            </div>
            <div class="column">
              <h1 class="ui header">Heading</h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <button class="ui small basic button">
                View detailes &raquo;
              </button>
            </div>
            <div class="column">
              <h1 class="ui header">Heading</h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <button class="ui small basic button">
                View detailes &raquo;
              </button>
            </div>
            <div class="column">
              <h1 class="ui header">Heading</h1>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                malesuada magna mollis euismod. Donec sed odio dui.
              </p>
              <button class="ui small basic button">
                View detailes &raquo;
              </button>
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui divider"></div>
          <footer>&copy; 2017 Company, Inc.</footer>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>